@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gridHorizontal ($numItems, $gap) {
  display: inline-grid;
  grid-template-columns: repeat($numItems, 1fr);
  grid-gap: $gap;
}

@mixin coverContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin transition ($param) {
  transition: $param 0.3s linear;
}