$font-stack: 'Roboto', sans-serif;
$primary-color: #026FC2;
$primary-font-color: #9DAFBD;
$white-font-color: #EEF2F4;
$picture-bg-color: #EEF2F4;
$picture-bg-color-dark: #979797;
$picture-bg-color-opaque: rgba(61, 61, 61, 0.8);
$header-height: 100px;